$EntityTypeColor: #00BFFF;
.container {
  background-color: black;
  color: $EntityTypeColor;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.panzoom {
  position: absolute;
  width:500px;
  height:250px;
  background-color: rgba(blue,.1);
  left: 50px;
  top: 20px;
  overflow: visible;
  border: 5px dotted rgba(#CCC,.1);
}
.diagram {
  position: absolute;
}
.item {
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  white-space:nowrap;
  border: 1px solid darken($EntityTypeColor,30%);
  padding: 8px;
  border-radius: 3px;
  background-color: rgba($EntityTypeColor, .2);
  &:hover {
    border: 1px solid $EntityTypeColor;
  }
}

.jsplumb-connector path {    stroke:$EntityTypeColor;
}
.hint {
  position: absolute;
  color: grey;
  left:100%;
  top: -24px;
  white-space:nowrap;
  font-size:14px;
  h4 {
    margin-left:35px;
  }
  a {
    margin-left:25px;
    color: red;
    text-decoration: none;
    &:hover {
     text-decoration: underline; 
    }
  }
  li a {
    margin-left:0;
    color: $EntityTypeColor;
  }
}  